<% if @submit_request.user_id === current_user.id && @submit_request.status == 1  %>
<div>
  <h1>依頼する内容の編集</h1>
  <div>
    <%= render "form" %>
    <%= link_to "詳細", submit_request_path(@submit_request) %> |
    <%= link_to "戻る", user_submit_requests_path(@submit_request) %>
  </div>
</div>
<% else%>
    <P>表示する権限がありません</P>
<% end %>