<div class="row">
  <div class="col-md-12 innerLR">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">プロジェクトメンバー一覧</h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
          <tr>
            <th>ユーザー名</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @project_members.each do |project_member| %>
              <tr>
                <td><%= project_member.user.name %></td>
                <td><%= link_to '削除', project_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <p><%= link_to '新しくプロジェクトメンバーを追加する', new_project_project_member_path(@project) %></p>
        <p><%= link_to 'プロジェクト詳細に戻る', project_path(@project) %></p>
      </div>
    </div>
  </div>
</div>

