<div class="row">
  <div class="col-md-6 innerLR">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">新しいプロジェクトメンバーを追加する</h1>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
        <%= link_to 'プロジェクトに戻る', projects_path(@project) %>

      </div>
    </div>
  </div>
</div>


